{{#if option.inputType}}
  {{ui-question/choice node option handleEvents}}
{{else}}
  {{#if option.text}}
    <h4 class="range-title">{{option.text}}</h4>
  {{/if}}

  <div class="range-value">
    <span>{{option.minValueText}}{{if option.minValueText ':'}} {{option.minValue}}</span>
    <span>{{option.maxValueText}}{{if option.maxValueText ':'}} {{option.maxValue}}</span>
  </div>

  <div class="range-slider">
    <h4 style="position:relative">
      <span style="opacity: 0;visibility: hidden">{{option.maxValue}}{{node.unit}}</span>
      <span style="position: absolute;left: 0;bottom: 0;">{{if option.value option.value ' - '}}{{node.unit}}</span>
    </h4>
    {{range-slider
      start=(if option.value (numberize option.value) 0)
      connect="lower"
      tooltips=tipValue
      step=(if option.step (numberize option.step) 1)
      min=(numberize option.minValue)
      max=(numberize option.maxValue)
      on-change=(action "handleOptionInput")
    }}
  </div>
{{/if}}
