{{#if option.inputType}}
  {{ui-question/choice node option handleEvents}}
{{else}}
  {{#if option.text}}
    <h4 class="range-title">{{option.text}}</h4>
  {{/if}}

  <div class="range-value">
    <span>{{option.minValueText}}{{if option.minValueText ':'}} {{option.minValue}}</span>
    <span>{{option.maxValueText}}{{if option.maxValueText ':'}} {{option.maxValue}}</span>
  </div>

  <div class="range-slider">
    <h4 style="position:relative">
      <span style="opacity: 0; visibility: hidden;">
        {{option.maxValue}}{{node.unit}}
      </span>
      <span style="position: absolute; left: 0; bottom: 0;">
        {{displayValue}}{{node.unit}}
      </span>
    </h4>
    {{ui-range
      value=option.value
      step=option.step
      min=option.minValue
      max=option.maxValue
      on-slide=(action "updateDisplayValue")
      on-change=(action "handleOptionInput")}}
  </div>
{{/if}}
