{{#if (eq option.inputType "input")}}
  {{ui-component/ui-text
    inputRule=(unbound option.inputRule)
    placeholder=(unbound option.placeholder)
    value=option.value
    renderId=(unbound option.renderId)
    handleOptionInput=(action "handleOptionInput")
    handleOptionInputForTextarea=(action "handleOptionInputForTextarea")}}
{{else}}
  {{#if option.text}}
    <h4 class="range-title">{{option.text}}</h4>
  {{/if}}

  <div class="range-value">
    <span>{{option.minValueText}}{{if option.minValueText ':'}} {{option.minValue}}</span>
    <span>{{option.maxValueText}}{{if option.maxValueText ':'}} {{option.maxValue}}</span>
  </div>

  <div class="range-slider">
    <h4>{{if option.value option.value 0}}{{node.unit}}</h4>
    {{range-slider
      start=(if option.value option.value 0)
      connect="lower"
      min=(numberize option.minValue)
      max=(numberize option.maxValue)
      on-change=(action "handleOptionInput")}}
  </div>
{{/if}}
