{{#if hasTopImages}}
  <figure class="attachment">
    {{#each header.images as |image|}}
      {{ui-addon/progressive-image
        ratio=image.ratio
        objectFit=image.objectFit
        thumbnail=image.thumbnail
        image=image.natural}}
    {{/each}}
  </figure>
{{/if}}
<header class="header">
  {{#if (or header.asterisks header.number)}}
    <div>{{requiredMark}} {{quesNumber}}</div>
  {{/if}}

  <h2 class="title">{{{insert-img header.title}}}</h2>
  {{description}}
</header>

{{#if hasNormalImages}}
  <figure class="attachment">
    {{#each header.images as |image|}}
      {{ui-addon/progressive-image
        ratio=image.ratio
        objectFit=image.objectFit
        thumbnail=image.thumbnail
        image=image.natural}}
    {{/each}}
  </figure>
{{/if}}
