{{#if hasTopImages}}
  <figure class="attachment">
    {{#if multiImages}}
      {{ui-component/ui-header-swiper swiperName="header" header=header}}
    {{else}}
      {{ui-addon/progressive-image
        ratio=singleImage.ratio
        objectFit=singleImage.objectFit
        thumbnail=singleImage.thumbnail
        image=singleImage.natural}}
    {{/if}}
    {{#if header.imgScale}}
      <a class="zoom-button" onclick={{action "openPhotoSwipe"}}>
        {{svg-item 'zoom-in'}}
      </a>
    {{/if}}
  </figure>
{{/if}}

<header class="header">
  {{#if (or header.asterisks header.number)}}
    <div>{{requiredMark}} {{quesNumber}}</div>
  {{/if}}

  <h2 class="title">{{{insert-img header.title}}}</h2>
  {{description}}
</header>


{{#if hasNormalImages}}
  <figure class="attachment">
    {{#ui-addon/condition-pin needPin=needFixImage pinTop=header.fixTop scale=true}}
      {{#if multiImages}}
        {{ui-component/ui-header-swiper swiperName="header" header=header}}
      {{else}}
        {{ui-addon/progressive-image
          ratio=singleImage.ratio
          objectFit=singleImage.objectFit
          thumbnail=singleImage.thumbnail
          image=singleImage.natural}}
      {{/if}}
      {{#if header.imgScale}}
        <a class="zoom-button" onclick={{action "openPhotoSwipe"}}>
          {{svg-item 'zoom-in'}}
        </a>
      {{/if}}
    {{/ui-addon/condition-pin}}
  </figure>
{{/if}}

{{#if header.video}}
  <figure class="attachment">
    {{#ui-addon/condition-pin needPin=needFixVideo pinTop=header.fixTop scale=true}}
      {{ui-component/ui-video
        video=header.video
        url=header.video.url
        poster=header.video.poster
      }}
    {{/ui-addon/condition-pin}}
  </figure>
{{/if}}
