<div class="matrix-wrapper zoom">
  {{#if isDesktop}}
    <a class="matrix-resize">{{ui-addon/svg-item icon="stretch"}}</a>
  {{/if}}
  <div class="matrix-thumbnail">
    <div class="matrix-thumbnail-wrapper">
      <div>
        {{#each matrix as |matrixItem|}}
          <ul class={{html-safe (if matrixItem.selected "active")}}>
            {{#each matrixItem.subMatrix as |option|}}
              <li class={{html-safe (if option.selected "active")}}><span></span></li>
            {{/each}}
          </ul>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="fix-header-position">
    <div class="fix-header swiper-container">
      <div class="swiper-wrapper">
        {{#each optionsX as |option|}}
          <div class="fix-header-column swiper-slide">
            <span>{{option.text}}</span>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="matrix-content">
    <ul class="fix-column">
      {{#each optionsY as |option| }}
        <li style={{colHeight}}>
          <span>{{option.text}}</span>
        </li>
      {{/each}}
    </ul>
    <div class="column-container swiper-container">
      <div class="swiper-wrapper">
        {{#each matrix as |matrixItem|}}
          <div class="column swiper-slide">
            {{#each matrixItem.subMatrix as |option|}}
              <div class="column-item">
                <input
                  name={{name}}
                    id={{option.renderId}}
                  type="checkbox"
                  onclick={{action handleOptionClick option matrixItem}}
                    checked={{option.selected}}
                  disabled={{disabled}}
                    required>
                {{ui-component/ui-label selected=option.selected
                                        for=option.renderId
                                        icon=(if option.selected 'checkbox-active' 'checkbox')}}
              </div>
            {{/each}}
          </div>
        {{/each}}
      </div>
      <div class="swiper-pagination"></div>
      {{#if isDesktop}}
        <div class="matrix-button-next">{{ui-addon/svg-item icon="arrows-stre-right"}}</div>
        <div class="matrix-button-prev">{{ui-addon/svg-item icon="arrows-stre-left"}}</div>
      {{/if}}

    </div>
  </div>
</div>

{{#each otherOptions as |option|}}
  {{ui-component/ui-text inputRule=option.inputRule
                         placeholder=option.placeholder
                         value=option.value
                         handleOptionInput=handleOptionInput
                         handleOptionInputForTextarea=handleOptionInputForTextarea
  }}
{{/each}}
