<div class="matrix-wrapper">
  <div class="fix-header-position">
    <div class="fix-header swiper-container">
      <div class="swiper-wrapper">
        {{#each optionsX as |option|}}
          <div class="fix-header-column swiper-slide">
            <span>{{option.text}}</span>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="matrix-content">
    <ul class="fix-column">
      {{#each optionsY as |option| }}
        <li style={{colHeight}}>
          <span>{{option.text}}</span>
        </li>
      {{/each}}
    </ul>
    <div class="column-container swiper-container">
      <div class="swiper-wrapper">
        {{#each matrix as |subMatrix|}}
          <div class="column swiper-slide">
            {{#each subMatrix as |option|}}
              <div class="column-item">
                <input
                  name={{name}}
                    id={{option.renderId}}
                  type="checkbox"
                  onclick={{action handleOptionClick option}}
                    checked={{option.selected}}
                  disabled={{disabled}}
                    required>
                {{ui-component/ui-label selected=option.selected
                                        for=option.renderId
                                        icon=(if option.selected 'checkbox-active' 'checkbox')}}
              </div>
            {{/each}}
          </div>
        {{/each}}
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>

{{#each otherOptions as |option|}}
  {{ui-component/ui-text inputRule=option.inputRule
                         placeholder=option.placeholder
                         value=option.value
                         handleOptionInput=handleOptionInput
                         handleOptionInputForTextarea=handleOptionInputForTextarea
  }}
{{/each}}
