{{#if isShowInput}}
  <div class="item" onclick={{action 'select'}}>
    <input id={{option.uuid}} type='radio' name={{nodeInfo.id}}>
    <label for={{option.uuid}} onclick={{action 'stopPropagation'}}>
      {{optionSvg}}
      {{option.text}}
    </label>
  </div>
{{/if}}

{{#if isShowOtherInput}}
  <input type="text" value={{option.value}} onchange={{action 'change'}}>
  <label for={{option.uuid}} onclick={{action 'stopPropagation'}}>
    {{optionSvg}}
  </label>
{{/if}}

{{#if option.selected}}
  <span>选择了</span>
{{/if}}
