<div class="row reward-container">
  <header class="reward-header">
    <div class="congratulations">
      <div class="ribbon">
        <h2>{{node.rewardTitle}}</h2>
        <i></i><i></i><i></i><i></i>
      </div>
    </div>
    <div class="reward-contents">
      <h2>{{node.rewardDescribe}}{{node.rewardName}}</h2>
      <span class="current-time">{{node.rewardTime}}</span>
      <div class="reward-numbering">
        {{#each node.rewardName as |reward|}}
          <p>{{reward.rewardName}}：<strong>{{reward.rewardNumbering}}</strong>份</p>
        {{/each}}
      </div>
    </div>
  </header>

  <div class="reward-additional">
    {{ui-addon/disclaimer description=false}}
  </div>
</div>