<div class="row reward-container">
  <header class="reward-header">
    <div class="congratulations">
      <div class="ribbon">
        <h2>{{if node.goal '恭喜您' '很遗憾'}}</h2>
        <i></i><i></i><i></i><i></i>
      </div>
    </div>
    <div class="reward-contents">
      <h2>{{if node.goal '成功获得奖励一份' '谢谢您的参与'}}</h2>
      <span class="current-time">{{node.rewardTime}}</span>
      <p class="reward-numbering">总奖励数：<strong>{{node.rewardCount}}</strong>份</p>
    </div>
  </header>


  <div class="reward-additional">
    {{ui-addon/disclaimer description=false}}
  </div>
</div>