<div class="row reward-container">
  <header class="reward-header">
    {{#if node.rewardName}}
      <h2>{{node.rewardName}}</h2>
    {{/if}}
    <div class="reward-contents">
      <h2>{{node.title}}</h2>
      <span class="reward-description">{{node.description}}</span>
      <span class="current-time">{{node.rewardTime}}</span>
    </div>
  </header>
  <div class="reward-additional">
    {{ui-addon/disclaimer}}
  </div>
</div>