<div class="row reward-container">
  {{#if node.rewardImage}}
    <figure class="attachment">
      {{ui-addon/progressive-image
        ratio=node.rewardImage.ratio
        thumbnail=node.rewardImage.thumbnail
        image=node.rewardImage.natural}}
    </figure>
  {{/if}}
  <header class="reward-header">
    <div class={{html-safe (concat 'congratulations' (unless node.goal ' disabled'))}}>
      <div class="ribbon">
        <h2>{{node.rewardTitle}}</h2>
        <i></i><i></i><i></i><i></i>
      </div>
    </div>
    <div class="reward-contents">
      <h2>{{node.rewardDescribe}}{{node.rewardName}}</h2>
      <span class="current-time">{{node.rewardTime}}</span>
      {{#if (and node.goal node.rewardList)}}
        <div class="reward-numbering">
          {{#each node.rewardList as |reward|}}
            <p>{{reward.rewardName}}：<strong>{{reward.rewardNumbering}}</strong>{{temp-i18n 'UI_Count'}}</p>
          {{/each}}
        </div>
      {{/if}}
    </div>
  </header>

  <div class="reward-additional">
    {{ui-addon/disclaimer}}
  </div>
</div>