<div class="row reward-container">
  <header class="reward-header">
    <h2>{{if node.goal '恭喜您' '很遗憾'}}</h2>
    <div class="reward-contents">
      <h2>{{if node.goal '成功获得奖励一份' '谢谢您的参与'}}</h2>
      {{!--<span class="reward-description">{{node.description}}</span>--}}
      <span class="current-time">{{node.rewardTime}}</span>
    </div>
  </header>


  <div class="reward-additional">
    {{ui-addon/disclaimer description=false rewardCount=node.rewardCount}}
  </div>
</div>