<section class={{concat 'welcome ' (unbound intro.style) (if intro.bgImageMode 'full-screen-cover')}}>
  <div class="wrapper">
    <div class="row data-welcome" data-render-id={{unbound intro.renderId}}>
        <figure class="attachment">
          {{#each intro.images as |image|}}
            {{ui-addon/progressive-image
              ratio=image.ratio
              objectFit=(if intro.bgImageMode 'cover')
              thumbnail=image.thumbnail
              image=image.natural}}
          {{/each}}
        </figure>

      <header class="header">
        <h2 class="title">{{intro.title}}</h2>
        {{#if intro.summary}}
          <p style="margin-bottom: 1rem">{{{insert-img intro.summary}}}</p>
        {{/if}}
        {{#if intro.description}}
          <pre class="description">{{{insert-img intro.description}}}</pre>
        {{/if}}
      </header>

    </div>
  </div>
</section>
{{ui-question/-node/button-cell
  nextButton=intro.nextButton
  handleNextClick=intro.handleEvents.handleNextClick
}}