<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide slide-background" style="
      justify-content: {{justifyContent}};
      background-image: {{backgroundImage}};
      background-position: {{backgroundPosition}};
      background-repeat: {{backgroundRepeat}};
      background-size: {{backgroundSize}};">

      <div class="layout" style="
        align-self: {{alignSelf}};
        padding: {{padding}};
        margin: {{marginT}} {{marginR}} {{marginB}} {{marginL}};">

        <div class="transform" style="
          align-self: {{alignSelf}};
          margin: {{marginT}} {{marginR}} {{marginB}} {{marginL}};">

          <img style="width: {{width}}" src={{img}}>
        </div>

        <div class="transform" style="
          align-self: {{alignSelf}};
          margin: {{marginT}} {{marginR}} {{marginB}} {{marginL}};">

          <p style="
            color: {{color}};
            background-color: {{backgroundColor}};
            text-align: {{textAlign}};
            text-transform: {{textTransform}};
            font-family: {{fontFamily}};
            font-size: {{fontSize}};
            font-style: {{fontStyle}};
            font-weight: {{fontWeight}};
            line-height: {{lineHeight}};
            letter-spacing: {{letterSpacing}};
            column-count: {{columnCount}};"></p>
        </div>
      </div>
    </div>
  </div>
</div>