<div class="upload-item-wrapper">
  <div class={{concat "upload-item" state}}>
    <input
      type='file'
      id={{uuid}}
        onclick={{handleOptionClick}}
      onchange={{handleOptionInput}}
    >
    {{#if value}}
      <a class="clear icon-button primary" onclick={{handleOptionRemove}}>
        {{ui-addon/svg-item icon="trash"}}
      </a>
      <div class="upload-thumbnail">
        <div class="progress-bar">
          <div class="progress" style="width: 50%"></div>
        </div>
        <img src={{value}}/>
      </div>
    {{else}}
      {{ui-addon/svg-item icon="upload-image" size="64px" viewBox="64" iconClass="upload-image-icon"}}
    {{/if}}
    <label class={{concat "button" button}} for={{uuid}}>
      {{ui-addon/svg-item icon=icon}}
      <span>{{uploadText}}</span>
    </label>
  </div>

  {{#unless value}}
    {{#if text}}
      <span>{{text}}</span>
    {{/if}}
  {{/unless}}
</div>