<div class="upload-item-wrapper">
  <div class={{concat "upload-item" state}}>
    <input
      type='file'
      id={{renderId}}
        onclick={{handleOptionClick}}
      onchange={{handleOptionInput}}
    >
    {{#unless (eq progress '100')}}
      <div class="upload-progress-bar">
        <div class="upload-progress" style={{html-safe (concat "width:" progress "%;")}}></div>
      </div>
    {{/unless}}


    {{#if value}}
      <a class="clear icon-button primary" onclick={{handleOptionRemove}}>
        {{ui-addon/svg-item icon="trash"}}
      </a>
      <div class="upload-thumbnail">
        <img src={{value}}/>
      </div>
    {{else}}
      {{ui-addon/svg-item icon="upload-image" size="64px" viewBox="40" iconClass="upload-image-icon"}}
    {{/if}}
    <label class={{concat "button" button}} for={{renderId}}>
      {{ui-addon/svg-item icon=icon}}
      <span>{{uploadText}}</span>
    </label>
  </div>

  {{#unless value}}
    {{#if text}}
      <span>{{text}}</span>
    {{/if}}
  {{/unless}}
</div>