{{#if (eq option.inputType "input")}}
  {{ui-component/ui-text node option handleEvents}}
{{else}}
  <h4 class="cell-labels">
    {{option.text}}
    {{#if option.description}}
      <span>{{option.description}}</span>
    {{/if}}
  </h4>
  <div class={{concat 'rating-wrapper score-' option.count}} data-render-id={{option.renderId}}>
    <ul class="rating-labels">
      {{#each option.marks as |mark|}}
        <li>{{mark}}</li>
      {{/each}}
    </ul>
    <ul class="rating-shape">
      {{#each graphs as |option|}}
        <li>
          <input
            type="checkbox"
            id={{option.uuid}}
              value={{option.value}}
            onclick={{action 'handleOptionInput'}}
              checked={{option.checked}}
          >

          {{ui-component/ui-label for=option.uuid
                                  emoji=option.emoji
                                  selected=option.checked
                                  text=option.text
                                  emojiClass="rating-emoji"
                                  icon=option.icon
                                  viewBox="64"
          }}

        </li>
      {{/each}}
    </ul>
  </div>
{{/if}}