<h4 class="cell-labels">
  {{text}}
  {{#if description}}
    <span>{{description}}</span>
  {{/if}}
</h4>
<div class={{concat 'rating-wrapper score-' count}} data-render-id={{renderId}}>
  <ul class="rating-labels">
    {{#each marks as |mark|}}
      <li>{{mark}}</li>
    {{/each}}
  </ul>
  <ul class="rating-shape">
    {{#each graphs as |option|}}
      <li>
        <input
          type="checkbox"
          id={{option.renderId}}
            value={{option.value}}
          onclick={{handleOptionClick}}
            checked={{option.checked}}
        >
        {{ui-component/ui-label for=option.renderId
                                emoji=option.emoji
                                selected=option.checked
                                text=option.text
                                emojiClass="rating-emoji"
                                icon=option.icon
                                viewBox="64"
        }}
      </li>
    {{/each}}
  </ul>
</div>