<div class="titleIcon">
  {{ui-addon/svg-item icon=titleIcon size="64px" viewBox="40" iconClass="region-pin-icon"}}
</div>
<ul class='dropdown-list' style="display:none">
  {{#if (or (eq node.quesType "region") isMulitColmun)}}
    {{yield}}
  {{else}}
    {{#each node.options as |q|}}
      <li data-selected={{q.selected}}>{{q.text}}</li>
    {{/each}}
  {{/if}}
</ul>
{{ui-addon/svg-item icon=icon}}