{{#if _icon}}
  {{svg-item _icon size="64px" viewBox="40"}}
{{/if}}


{{#unless (eq verificationType 'captcha')}}
  {{ui-component/ui-input handleOptionInput=handleOptionInput
                          type=_type
                          placeholder=_placeholder
                          value=(if _pass_white code phoneNumber)
                          disabled=(or msgPassed pwdPassed)
                          icon=(if _pass_white '' 'mobile')}}
{{/unless}}


{{#if unless_pass_white}}
  <div class={{concat "get-verification" captchaClass}}>
    {{ui-component/ui-input type='url' value='' handleOptionInput=handleOptionInput
                            placeholder=(temp-i18n 'UI_InputVerifyCode')
                            value=code
                            disabled=msgPassed
                            icon='int'}}

    {{#if getInfoButton}}
      {{ui-component/ui-button text=buttonText
                               className="button contrast"
                               disabled=msgPassed
                               handleClick=handleOptionClick}}
    {{else}}
      {{ui-component/ui-button leftIcon='refresh' className="button primary refresh" text=countDown}}
    {{/if}}
  </div>
  {{#if captcha}}
    <div class="captcha-wrapper">
      <div class="captcha-canvas"><img src={{captcha}} alt=""></div>
    </div>
  {{/if}}
{{/if}}

{{#if declarative}}
  <p>{{declarative}}</p>
{{/if}}
