
<div class='ui-icon-list' data-render-id={{option.renderId}}>
  <input
    id={{option.uuid}}
      type='checkbox'
    onclick={{action 'handleOptionClick'}}
      checked={{option.selected}}
    disabled={{disabled}}
  >
  {{#ui-addon/button for=option.uuid text=option.text}}
    <div class="select-container">
      <div class="svg-wrapper">
        {{svg}}
      </div>
      {{ui-addon/active-line-animation}}
    </div>
  {{/ui-addon/button}}
</div>
