
<div class='ui-icon-list' data-render-id={{option.renderId}}>
  <input
    id={{option.uuid}}
      type='checkbox'
    onclick={{action 'handleOptionClick'}}
      checked={{option.selected}}
    disabled={{disabled}}
  >
  {{#ui-question/-node/label uuid=option.uuid text=option.text svg=svg}}
    {{ui-addon/svg-item icon=node.selectType}}
  {{/ui-question/-node/label}}
</div>
