<div class='ui-icon-list' data-render-id={{option.renderId}}>
  <input
    id={{option.uuid}}
      type='checkbox'
    onclick={{action 'handleOptionClick'}}
      checked={{option.selected}}
    disabled={{disabled}}
  >
  {{#ui-question/-node/label uuid=option.uuid svg=svg}}
    <div>
      {{ui-addon/svg-item icon=node.selectType}}
      <span>{{option.text}}</span>
    </div>
  {{/ui-question/-node/label}}
</div>
