<div class='ui-icon' data-render-id={{option.renderId}}>
    <input
      name={{node.renderId}}
      id={{option.renderId}}
      type={{node.selectType}}
      onclick={{action 'handleOptionClick'}}
      checked={{option.selected}}
      disabled={{disabled}}
      required>

    <label for={{option.renderId}} class={{if svg 'svg' 'text'}}>
      <div class="effect-container">
        {{#if svg}}
          <div class="svg-wrapper">
            {{svg}}
          </div>
        {{else}}
          <div class="icon-text">
            <span>{{{insert-img option.text}}}</span>
          </div>
        {{/if}}
      
        {{#if option.selected}}
          {{particle size='l'}}
        {{/if}}
      </div>

      {{#if svg}}
        <div class="labels">
          <div class="svg-wrapper">
            {{svg-item (if option.selected (concat node.selectType '-active') node.selectType)}}  
          </div>
          <span>{{{insert-img option.text}}}</span>
        </div>
      {{/if}}
    </label>
  </div>
