
<div class='ui-icon-list' data-render-id={{option.renderId}}>
  <input
    id={{option.uuid}}
      type='checkbox'
    onclick={{action 'handleOptionClick'}}
      checked={{option.selected}}
    disabled={{disabled}}
  >
  {{ui-addon/button for=option.uuid text=option.text htmlIcon=svg}}
</div>
