{{#if (or emoji option.icon)}}
  <div class="select-container">
    {{#if emoji}}
      <span class={{emojiClass}}>{{emoji}}</span>
    {{else}}
      {{svg}}
    {{/if}}
    {{ui-addon/active-line-animation circle=true}}
  </div>
{{/if}}

{{#if option.text}}
  <span>{{option.text}}</span>
{{/if}}

