{{#unless (or leftIcon rightIcon)}}
  <div class="select-container">
    {{#if emoji}}
      <div class="emoji-wrapper">
        <span class={{emojiClass}}>{{emoji}}</span>
      </div>
    {{else}}
      <div class="svg-wrapper">
        {{svg}}
      </div>
    {{/if}}
    {{ui-addon/active-line-animation circle=true}}
  </div>
{{/unless}}


{{component leftIcon icon=icon size=size viewBox=viewBox class=class}}

{{yield}}

{{#if text}}
<span>{{text}}</span>
{{/if}}

{{component rightIcon icon=icon size=size viewBox=viewBox class=class}}

