<div class='ui-select' data-render-id={{option.renderId}}>
  <select class="menu-item" onchange={{action 'handleOptionInput'}}>
    <option>{{control.value}}</option>
    {{#each control.options as |q|}}
      <option value={{q.text}} selected={{q.selected}}>{{q.text}}</option>
    {{/each}}
  </select>

  {{svg}}
</div>