<select class="menu-item" onchange={{action 'change'}}>
  <option>{{option.placeholder}}</option>
  {{#each option.menus as |q|}}
    <option value={{q.id}} selected={{q.selected}}>{{q.text}}</option>
  {{/each}}
</select>


{{svg}}


{{errorMessage}}