{{yield }}

<div class="effect-container">

  {{#if emoji}}
    <div class="emoji-wrapper">
      <span class={{emojiClass}}>{{emoji}}</span>
    </div>
  {{else}}

    <div class="svg-wrapper">
      {{#if icon}}
        {{svg-item icon size=size viewBox=viewBox}}
      {{else}}
        {{svg}}
      {{/if}}
    </div>
  {{/if}}

  {{#if selected}}
    <div class={{concat "particle-wrapper " particleSize}}>
      <ul class="particle-container">
        <li class="particle-item"></li>
        <li class="particle-item"></li>
        <li class="particle-item"></li>
        <li class="particle-item"></li>
        <li class="particle-item"></li>
        <li class="particle-item"></li>
        <li class="particle-item"></li>
        <li class="particle-item"></li>
      </ul>
    </div>
  {{/if}}

</div>

{{#if text}}
  <span>{{text}}</span>
{{/if}}
