{{yield}}

<div class="select-container">

  {{#if emoji}}
    <div class="emoji-wrapper">
      <span class={{emojiClass}}>{{emoji}}</span>
    </div>
  {{else}}

    <div class="svg-wrapper">
      {{#if svgIcon}}
        {{component "ui-addon/svg-item" icon=svgIcon size=size viewBox=viewBox iconClass=iconClass}}
      {{else}}
        {{svg}}
      {{/if}}
    </div>
  {{/if}}


  {{#if option.selected}}
    {{ui-addon/svg-particle uuid=(concat option.uuid '123')}}
  {{/if}}


</div>


{{#if text}}
  <span>{{text}}</span>
{{/if}}
