{{yield }}

<div class="effect-container">

  {{#if emoji}}
    <div class="emoji-wrapper">
      <span class={{emojiClass}}>{{emoji}}</span>
    </div>
  {{else}}

    <div class="svg-wrapper">
      {{#if checkboxIcon}}
        <div class={{concat 'option-type ' checkboxIcon}}>
          {{#if (eq checkboxIcon 'checkbox-active')}}
            {{svg-item 'checkbox-active' size="16px" viewBox="16"}}
          {{/if}}
        </div>
      {{/if}}
      
      {{#if icon}}
        {{svg-item icon size=size viewBox=viewBox}}
      {{else}}
        {{svg}}
      {{/if}}
    </div>
  {{/if}}

  {{#if selected}}
    {{particle size=particleSize}}
  {{/if}}

</div>

{{#if text}}
  <span>{{{insert-img text}}}</span>
{{/if}}
