<div class="input">
  {{svg}}
  <input
    data-color="color6 color8"
    type="text"
    value={{option.value}}
    placeholder={{option.placeholder}}
    onchange={{action 'handleOptionInput'}}
  >
</div>

{{errorMessage}}
