{{#each notification as |n|}}
  <div class="instance c-container {{unless (get n 'dismiss') 'in' }} {{n.type}}"
       onmouseenter={{action "pause" n}}
         onmouseleave={{action "resume" n}}>

    <div class="notification">
      {{{n.message}}}

      <a class="notification-close" onclick={{action "close" n}}>
        {{ui-addon/svg-item icon="simple-remove"}}
      </a>
    </div>
  </div>
{{/each}}
