{{#each notification as |n|}}
  <div class="instance c-container {{unless (get n 'dismiss') 'in' }} {{n.type}}"
       style={{if maxWidth (html-safe (concat 'max-width:' maxWidth))}}
       onmouseenter={{action "pause" n}}
         onmouseleave={{action "resume" n}}>

    <div class="notification">
      {{svg-item "round-e-info"}}
      {{{n.message}}}

      <a class="notification-close" onclick={{action "close" n}}>
        {{svg-item "simple-remove"}}
      </a>
    </div>
  </div>
{{/each}}
