{{ui-component/ui-header headerData}}
<div class={{concat "control " quesType}}>
  {{#if node.typeName}}
    <p>{{node.typeName}}: 最小选择{{node.minSelect}}, 最多选择{{node.maxSelect}}</p>
  {{/if}}
  {{#if isSpecialComponent}}
    {{component componentName node handleEvents options=(unbound node.options) matrix=(unbound node.matrix)}}
  {{else}}
    {{#each node.options as |option|}}
      {{component componentName node option handleEvents}}
    {{/each}}
  {{/if}}
</div>

{{!--{{component 'ui-component/ui-choice' node option handleEvents}}--}}
