{{ui-component/ui-header header=headerData}}

{{#if (or node.minSelect  node.maxSelect)}}
  <sup>
    <span>{{node.typeName}}</span>
    Least: {{node.minSelect}} - Most: {{node.maxSelect}}
  </sup>
{{/if}}

<div class={{concat "control " quesType}}>
  {{#if isSpecialComponent}}
    {{component componentName node handleEvents options=(unbound node.options) matrix=(unbound node.matrix)}}
  {{else}}
    {{#each node.options as |option|}}
      {{component componentName node option handleEvents}}
    {{/each}}
  {{/if}}
</div>
