{{ui-component/ui-header header=headerData}}

{{#if node.typeName}}
  <sup>
    <span>{{node.typeName}}</span>
    {{node.typeDescription}}
  </sup>
{{/if}}

{{#if node.errorMessage}}
  <div class="error-message">
    <span>
      {{svg-item "square-e-alert"}}
      {{node.errorMessage}}
    </span>
  </div>
{{/if}}

<div class={{concat "control " quesType (if node.errorMessage ' error')}}>
  {{#if isSpecialComponent}}
    {{component componentName node handleEvents options=(if node.dynamicOption node.options (unbound node.options)) matrix=(unbound node.matrix) preview=preview}}
  {{else}}
    {{#each node.options as |option|}}
      {{component componentName node option handleEvents}}
    {{/each}}
  {{/if}}
</div>
