{{ui-component/ui-header headerData}}
<div class={{concat "control " node.quesType}}>
  {{#if isSpecialComponent}}
    {{component componentName node handleEvents}}
  {{else}}
    {{#each node.options as |option|}}
      {{component componentName node option handleEvents}}
    {{/each}}
  {{/if}}
</div>

{{!--{{component 'ui-component/ui-choice' node option handleEvents}}--}}
