<div class="row" data-render-id={{node.renderId}} data-color="color3">
  {{ui-question/-node/header headerData}}
  <div class={{concat "control " node.quesType}}>
    {{#if isSpecialComponent}}
      <div class='cell'>
        {{component componentName node handleEvents}}
      </div>
    {{else}}
      {{#each node.options as |option|}}
      <div class='cell'>
        {{component componentName node option handleEvents}}
      </div>
      {{/each}}
    {{/if}}
  </div>
</div>

{{!--{{component 'ui-question/-node/option-cell' node option handleEvents}}--}}
