{{ui-component/ui-header headerData}}
<div class={{concat "control " node.quesType " " node.showStyle " " node.picStyle}}>
  {{#if isSpecialComponent}}
    {{component componentName node handleEvents}}
  {{else}}
    {{#each node.options as |option|}}
      {{component componentName node option handleEvents}}
    {{/each}}
  {{/if}}
</div>

{{#if (and (eq node.showStyle 'pinterest') isLoading)}}
  <div>
    loading............
  </div>
{{/if}}


{{!--{{component 'ui-component/ui-choice' node option handleEvents}}--}}
