<ul class="slide-rate-dock">
  {{#each rateOptions as |rateOption|}}
    <li>
      <div class="rate-dock-icon">
        {{#if rateOption.svg}}
          <i>
            {{{rateOption.svg}}}
          </i>
        {{/if}}
        {{#if rateOption.text}}
          <span>{{rateOption.text}}</span>
        {{/if}}
      </div>
      <div class="rate-dock-item">
        {{#each rateOption.result as |result|}}
          {{#if result.image.thumbnail}}
            <img src={{result.image.thumbnail}}>
          {{else}}
            <span>{{result.text}}</span>
          {{/if}}
        {{/each}}
      </div>
    </li>
  {{/each}}
</ul>

<div class="swiper-container">
  <div class="swiper-wrapper">
    {{#each options as |option|}}
      <div class="swiper-slide" data-state={{if option.image "image" "text"}}>
        {{#if option.image}}
          <img src={{option.image.large}}>
        {{/if}}
        <p>{{{insert-img option.text}}}</p>
      </div>
    {{/each}}
  </div>

  <div class="swiper-pagination"></div>
</div>

<div>
  {{#if allowSwipeToPrev}}
    <div onclick={{action "swipeToPrev"}}>1</div>
  {{/if}}

  {{#if isEnd}}
    <div>2</div>
  {{/if}}

  {{#if allowSwipeToNext}}
    <div onclick={{action "swipeToNext"}}>3</div>
  {{/if}}
</div>

<ul class="rate-wrapper" data-state={{rateOptions.length}}>
  {{#each rateOptions as |rateOption|}}
    <li data-state={{if (eq currentOption.value rateOption.value) "checked"}}>
      <a data-state={{if rateOption.svg 'icon' 'label'}} onclick={{action "handleOptionInput" rateOption.value}}>
        <div class="effect-container">
          <div class="svg-wrapper">
            {{#if rateOption.svg}}
              {{{rateOption.svg}}}
            {{else}}
              <span>{{rateOption.text}}</span>
            {{/if}}
          </div>
          {{#if (and (eq currentOption.value rateOption.value) rateOption.svg)}}
            {{particle size='l'}}
          {{/if}}
        </div>
      </a>
      {{#if rateOption.svg}}
        <span>{{rateOption.text}}</span>
      {{/if}}
    </li>
  {{/each}}
</ul>

{{#each node.otherOptions as |option|}}
  {{ui-question/choice node option handleEvents}}
{{/each}}
