<ul class="slide-rate-dock">
  {{#each rateOptions as |rateOption|}}
    <li>
      <div class="rate-dock-icon">
        <i>
          {{{rateOption.svg}}}
        </i>
        <span>{{rateOption.text}}</span>
      </div>
      <div class="rate-dock-item">
        {{#each rateOption.result as |result|}}
          {{#if result.image.thumbnail}}
            <img src={{result.image.thumbnail}}>
          {{else}}
            <span>{{result.text}}</span>
          {{/if}}
        {{/each}}
      </div>
    </li>
  {{/each}}
</ul>

<div class="swiper-container">
  <div class="swiper-wrapper">
    {{#each options as |option|}}
      <div class="swiper-slide" data-state={{if option.image "image" "text"}}>
        {{#if option.image}}
          <img src={{option.image.large}}>
        {{/if}}
        <p>{{option.text}}</p>
      </div>
    {{/each}}
  </div>

  <div class="swiper-pagination"></div>
</div>

<ul class="rate-wrapper" data-state={{rateOptions.length}}>
  {{#each rateOptions as |rateOption|}}
    <li data-state={{if (eq currentOption.value rateOption.value) "checked"}}>

      <a onclick={{action "handleOptionInput" rateOption.value}}>
        <div class="effect-container">
          <div class="svg-wrapper">
            {{{rateOption.svg}}}
          </div>
          {{#if (eq currentOption.value rateOption.value)}}
            {{particle size='l'}}
          {{/if}}
        </div>
      </a>
      <span>{{rateOption.text}}</span>
    </li>
  {{/each}}
</ul>

{{#each node.otherOptions as |option|}}
  {{ui-question/choice node option handleEvents}}
{{/each}}
