<label class={{concat 'button ' className}} onclick={{handerClick}} for={{for}}>
  {{yield}}
  {{#if leftIconName}}
    {{ui-addon/svg-item size=size viewbox=viewbox icon=leftIconName}}
  {{/if}}

  {{#if text}}
    {{ui-addon/svg-item  icon='radio'}}
    <span>{{text}}</span>
  {{/if}}

  {{#if rightIconName}}
    {{ui-addon/svg-item size=size viewbox=viewbox icon=rightIconName}}
  {{/if}}

</label>
