<input
  id={{uuid}}
    type={{selectType}}
  onclick={{handleOptionClick}}
    name={{uuid}}
  autofocus={{autofocus}}
    placeholder={{placeholder}}
  checked={{selected}}
    disabled={{disabled}}
  required={{required}}
    tabindex={{tabindex}}
  value={{value}}
>

<label for={{uuid}}>
  {{#if image}}
    <figure class="attachment">
      {{ui-addon/progressive-image
        ratio=image.ratio
        objectFit=objectFit
        thumbnail=image.thumbnail
        image=image.natural}}
    </figure>
  {{/if}}
  <div class="pic-description">
    <div class="effect-container">
      <div class="svg-wrapper">
        {{ui-addon/svg-item icon=icon}}
      </div>
      {{#if selected}}
        {{ui-addon/svg-particle values="0;18" dur="0.45s"}}
      {{/if}}
    </div>
    <span>{{text}}</span>
  </div>
</label>