<input
    id={{renderId}}
    type={{selectType}}
    onclick={{handleOptionClick}}
    name={{renderId}}
    autofocus={{autofocus}}
    placeholder={{placeholder}}
    checked={{selected}}
    disabled={{disabled}}
    required={{required}}
    tabindex={{tabindex}}
    value={{value}}>

<label for={{renderId}}>
  {{#if image}}
    <figure class="attachment">
      {{ui-addon/progressive-image
        background=background
        ratio=image.ratio
        objectFit=objectFit
        thumbnail=image.thumbnail
        image=image.natural}}
    </figure>
  {{/if}}
  <div class="pic-description">
    <div class="effect-container">
      <div class="svg-wrapper">
        {{svg-item icon}}
      </div>
      {{#if selected}}
        {{particle size='s'}}
      {{/if}}
    </div>
    <span>{{text}}</span>
  </div>
</label>
