<textarea value={{value}}
          placeholder={{placeholder}}
          onblur={{onblur}}
          oninput={{action 'ipTextarea'}}></textarea>
<div class="mini-loader">
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
</div>
{{#if hasResult}}
  <div class="auto-complete-menu">
    {{#each result as |text|}}
      <div class="complete-option" onclick={{action 'clickOption'}}>{{text}}</div>
    {{/each}}
  </div>
{{/if}}

