{{#if selected}}
  {{#each selected as |item|}}
    <div class="auto-complete-tag">
      {{#if item.icon}}
        <i>
          <img src={{item.icon}}>
        </i>
      {{/if}}
      {{#if item.name}}
        <span>{{item.name}}</span>
      {{/if}}
      <a onclick={{action "deleteItem" item.name}}>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8">
          <path d="M7.924 6.51L5.45 4.035 7.925 1.56a.499.499 0 0 0 0-.707L7.217.146a.5.5 0 0 0-.707 0L4.036 2.621 1.561.146a.5.5 0 0 0-.707 0L.147.854a.499.499 0 0 0 0 .707l2.475 2.475L.147 6.51a.499.499 0 0 0 0 .707l.707.707a.5.5 0 0 0 .707 0l2.475-2.475L6.51 7.924a.5.5 0 0 0 .707 0l.707-.707a.497.497 0 0 0 0-.707z"></path>
        </svg>
      </a>
    </div>
  {{/each}}
{{/if}}

<div class="input-result">
  {{input
    class='virtual-input'
    value=virtualValue
    placeholder=placeholder
    autocomplete="off"
    input=(action "search")
    key-down=(action "handleKeyPress")}}

  {{#if hasResult}}
    <div class="auto-complete-menu">
      <span>请选择自动提示项</span>
      {{#each result as |item|}}
        <div class='complete-option' onclick={{action "autoComplete" item.name}}>
          {{#if item.icon}}
            <i>
              <img src={{item.icon}}>
            </i>
          {{/if}}
          {{#if item.name}}
            <span>{{item.name}}</span>
          {{/if}}
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>


<textarea class='hide-input' type="text" oninput={{action "triggerInput"}}>{{value}}</textarea>

<div class="mini-loader">
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
</div>
