<div>
  {{#each selected as |item|}}
    <img src={{item.icon}}>
    <div>{{item.name}}</div>
  {{/each}}
</div>

<input type="text" value={{value}} oninput={{action "triggerInput"}}>


{{textarea
  value=virtualValue
  placeholder=placeholder
  input=(action "search")
  key-down=(action "handleKeyPress")
}}

<div class="mini-loader">
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
</div>
{{#if hasResult}}
  <div class="auto-complete-menu">
    {{#each result as |item|}}
      <div onclick={{action "autoComplete" item.name}}>
        <img src={{item.icon}}>
        <div class="complete-option" >{{item.name}}</div>
      </div>
    {{/each}}
  </div>
{{/if}}
