{{!--顶层级联菜单--}}
<div class="cascade-list-tabs">
  {{#each node.cascade.list as |first|}}
    <a class={{if (eq first.uuid currentOption.uuid) "selected"}} data-state={{if (get state first.uuid) "active"}} onclick={{action "handleOptionClick" node.cascade first}}>
      <span>{{first.text}}</span>
      {{#if (get state first.uuid)}}
        <span>{{get state first.uuid}}</span>
      {{/if}}
    </a>
  {{/each}}
</div>

{{!--二层级联菜单--}}
<div class={{concat "cascade-list-mask " (if currentOption 'active')}}>
  {{#if currentOption}}
    <div class="cascade-list-contents">
      {{#each currentOption.list as |second|}}
        <a class={{if second.selected "selected"}} onclick={{action "handleOptionClick" currentOption second}}>
          <span>{{second.text}}</span>
        </a>
      {{/each}}
    </div>
  {{/if}}
</div>
