{{!--顶层级联菜单--}}
{{#each node.cascade.list as |first|}}
  <span style={{if first.selected "color: red"}} onclick={{action "handleOptionClick" node.cascade first}}>{{first.text}}</span>

  {{#if first.selected}}
    {{!--二层级联菜单--}}
    {{#each first.list as |second|}}
      <span style={{if second.selected "color: red"}} onclick={{action "handleOptionClick" first second}}>{{second.text}}</span>

      {{#if second.selected}}
        {{!--三层级联菜单--}}
        {{#each second.list as |third|}}
          <span style={{if third.selected "color: red"}} onclick={{action "handleOptionClick" second third}}>{{third.text}}</span>
        {{/each}}
      {{/if}}
    {{/each}}
  {{/if}}
{{/each}}
