<div class="row" dara-render-id={{control.renderId}}>
  {{ui-control/header headerData}}
  <div class={{concat "control " control.type}}>
    {{#each control.options as |option|}}
      {{#unless (or (eq option.inputType '') (eq control.type 'short-text') (eq control.type 'choice'))}}
        {{component 'ui-control/option-cell' control option handleEvents}}
      {{else}}
        {{component componentName control option handleEvents}}
      {{/unless}}
    {{/each}}
  </div>
</div>