<div class="row" data-render-id={{control.renderId}} data-color="color3">
  {{ui-control/header headerData}}
  <div class={{concat "control " control.type}}>
    {{#each control.options as |option|}}
      {{#if (and option.inputType isComponent)}}
        {{component 'ui-control/option-cell' control option handleEvents}}
      {{else}}
        {{component componentName control option handleEvents}}
      {{/if}}
    {{/each}}
  </div>
</div>