<div class="ui-text">
  <input
    class={{className}}
      type={{type}}
    value={{value}}
      required
    placeholder={{placeholder}}
      oninput={{handleInput}}
    onchange={{handleInput}}
  >
  {{ui-component/ui-icon icon=icon size=size viewbox=viewbox}}
  {{yield}}
</div>