<input
  id={{option.uuid}}
    type={{node.selectType}}
  onclick={{action 'handleOptionClick'}}
    name={{node.uuid}}
  autofocus={{autofocus}}
    placeholder={{option.placeholder}}
  checked={{option.selected}}
    disabled={{disabled}}
  required={{required}}
    tabindex={{tabindex}}
  value={{option.value}}
>

<label for={{option.uuid}}>
  {{#if node.thumbnail}}
    <div class="thumbnail">
      {{image}}
    </div>
  {{else}}
    {{image}}
  {{/if}}
  <div class="pic-description">
    <div class="select-container">
      {{svg}}
      {{ui-addon/active-line-animation}}
    </div>
    <span>{{option.text}}</span>
  </div>
</label>
