<input
  id={{option.uuid}}
    type={{node.selectType}}
  onclick={{action 'handleOptionClick'}}
    name={{node.uuid}}
  autofocus={{autofocus}}
    placeholder={{option.placeholder}}
  checked={{option.selected}}
    disabled={{disabled}}
  required={{required}}
    tabindex={{tabindex}}
  value={{option.value}}
>
<label for={{option.uuid}}>
  {{image}}
  <span>{{option.text}}</span>
</label>