{{#if (eq node.verificationType 'message')}}
  {{ui-addon/svg-item icon="sms" size="64px" viewBox="40"}}
  <div class="ui-text">
    {{ui-question/-node/input-cell type='tel' value='' placeholder='Please enter a cellphone number' svgName='int'}}
  </div>
  <div class="get-verification">
    <div class="ui-text">
      {{ui-question/-node/input-cell type='num' value='' placeholder='Please enter verification code' svgName='int'}}
    </div>
    {{ui-addon/label tagName='button' text='Get verification code' class="button contrast"}}
  </div>
  <p>If you do not receive the message in the next 1 minutes,please go through the verification process one more time.</p>
{{/if}}

{{#if (eq node.verificationType 'password')}}
  {{ui-addon/svg-item icon="password" size="64px" viewBox="40"}}
  <div class="ui-text">
    {{ui-question/-node/input-cell type='password' value='' placeholder='Please enter a password' svgName='int'}}
  </div>
{{/if}}

{{#if (eq node.verificationType 'verifyCode')}}
  {{ui-addon/svg-item icon="captcha" size="64px" viewBox="40"}}
  <div class="get-verification">
    <div class="ui-text">
      {{ui-question/-node/input-cell type='url' value='' placeholder='Please enter a password' svgName='int'}}
      {{#if captcha}}
        <div class="captcha">
          <img src="/images/captcha-code.png" alt="">
        </div>
      {{/if}}
    </div>
    {{#if captcha}}
      {{ui-addon/label tagName='button' leftIcon='refresh' class="button primary"}}
    {{else}}
      {{ui-addon/label tagName='button' text='Get captcha code' class="button contrast" handleClick=(action 'captchaClick')}}
    {{/if}}
  </div>
{{/if}}
