{{#each options as |option|}}
  <div class="list-wrapper" data-count={{node.rateOptions.length}}>
    <p>
      {{#if option.image}}
        <img src={{option.image.large}}>
      {{/if}}
      {{{insert-img option.text}}}
    </p>

    <div class="list-wrapper-slider slider-{{option.renderId}}" data-state={{option.value}} data-tooltips={{if option.value "show"}}></div>
  </div>
{{/each}}

{{#each node.otherOptions as |option|}}
  {{ui-question/choice node option handleEvents}}
{{/each}}
