{{#each options as |option|}}
  <div class="list-wrapper">
    <p>{{{insert-img option.text}}}</p>

    <ul class="rate-wrapper" data-state={{rateOptions.length}} data-value={{option.value}}>
      {{#each rateOptions as |rateOption|}}
        <li
          data-state="{{if (eq option.value rateOption.value) "checked "}}{{if (list-rate-option-checked option.value rateOption.value) "ass"}}"
            onclick={{action "handleOptionInput" rateOption.value option}}>
          <a data-state={{if rateOption.svg 'icon' 'label'}}>
            <div class="effect-container">
              <div class="svg-wrapper">
                {{#if rateOption.svg}}
                  {{{rateOption.svg}}}
                {{else}}
                  <span>{{rateOption.text}}</span>
                {{/if}}
              </div>
              {{#if (and (list-rate-option-checked option.value rateOption.value) rateOption.svg)}}
                {{particle size='l'}}
              {{/if}}
            </div>
          </a>
          {{#if rateOption.svg}}
            <span>{{rateOption.text}}</span>
          {{/if}}
        </li>
      {{/each}}
    </ul>
  </div>
{{/each}}

{{#each node.otherOptions as |option|}}
  {{ui-question/choice node option handleEvents}}
{{/each}}
