{{#if text}}
  <h4 class="range-title">
    {{text}}
  </h4>
{{/if}}

{{#if isDescription}}
  <div class="range-value">
    <span>Min value: {{minValue}}</span>
    <span>Max value: {{maxValue}}</span>
  </div>
{{/if}}

<div class="range-slider">
  {{#if value}}
    <h4>{{value}}</h4>
  {{/if}}
  {{range-slider start=value
                 connect="lower"
                 min=minValue
                 max=maxValue
                 on-change=handleOptionInput
  }}
</div>