<div class={{concat "upload-item" uploadState}}>
  <input
    type='file'
    id={{option.uuid}}
      onchange={{action 'handleOptionInput'}}
  >
  {{#if option.selected}}
    <a class="clear icon-button primary">
      {{ui-addon/svg-item icon="trash"}}
    </a>
    <div class="upload-thumbnail">
      <div class="progress-bar">
        <div class="progress" style="width: 50%"></div>
      </div>
      <img src={{option.image}}/>
    </div>
  {{else}}
    {{ui-addon/svg-item icon="upload-image" size="64px" viewBox="64" iconClass="upload-image-icon"}}
  {{/if}}
  {{ui-addon/label class=(concat 'button ' uploadButton) uuid=option.uuid  leftIcon=this_icon text=uploadText}}
</div>

{{#unless option.selected}}
  {{#if option.text}}
    <span>{{option.text}}</span>
  {{/if}}
{{/unless}}