<div class={{concat "upload-item" uploadState}}>
  <input
    type='file'
    id={{option.uuid}}
      onchange={{action 'handleOptionInput'}}
  >
  {{#if option.selected}}
    <div class="progress-bar">
      <div class="progress-hander"></div>
    </div>
    <img src={{option.image}}/>
    <a class="clear">
      {{ui-question/-node/svg-item icon="trash"}}
    </a>
  {{else}}
    {{ui-question/-node/svg-item icon="upload-image"}}
  {{/if}}

  <label for={{option.uuid}}>
    {{ui-question/-node/svg-item icon=this_icon}}
    <span>{{uploadText}}</span>
  </label>
</div>

{{#if option.text}}
  <span>{{option.text}}</span>
{{/if}}

