<input
  type='file'
  id={{option.uuid}}
    onchange={{action 'handleOptionInput'}}
>


{{#if option.selected}}
  <img src={{option.image}}/>
  <div class="return">
    {{returnSvg}}
  </div>
{{else}}
  {{svg}}
  <span>{{option.text}}</span>
  {{img}}
{{/if}}
