<div class={{concat "upload-item" uploadState}}>
  <input
    type='file'
    id={{option.uuid}}
      onchange={{action 'handleOptionInput'}}
  >
  {{#if option.selected}}
    <div class="progress-bar">
      <div class="progress-hander"></div>
    </div>
    <img src={{option.image}}/>
    <a class="clear">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16">
        <use xlink:href="#trash"></use>
      </svg>
    </a>
  {{else}}
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64">
      <use xlink:href="#upload-image"></use>
    </svg>
  {{/if}}

  <label for={{option.uuid}}>
    {{svg}}
    <span>Upload Picture</span>
  </label>
</div>

{{#if option.text}}
  <span>{{option.text}}</span>
{{/if}}

