<style>
  h1 {
    text-align: center;
  }
  h2 {
    text-align: center;
    margin: 1rem 0;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
  }
  li {
    flex-basis: 50%;
    padding: 1rem;
  }
  a {
    width: 100%;
  }
</style>

<h1>ember-cform-ui</h1>

<h2>Temp</h2>
<ul>
  {{#each model.temp as |item|}}
    <li><a class="button secondary" href={{item.href}}>{{item.label}}</a></li>
  {{/each}}
</ul>

<h2>Page</h2>
<ul>
  {{#each model.page as |item|}}
    <li><a class="button secondary" href={{item.href}}>{{item.label}}</a></li>
  {{/each}}
</ul>

<h2>Welcome</h2>
<ul>
  {{#each model.welcome as |item|}}
    <li><a class="button secondary" href={{item.href}}>{{item.label}}</a></li>
  {{/each}}
</ul>

<h2>Question</h2>
<ul>
  {{#each model.question as |item|}}
    <li><a class="button secondary" href={{item.href}}>{{item.label}}</a></li>
  {{/each}}
</ul>

<h2>Question Picture</h2>
<ul>
  {{#each model.picture as |item|}}
    <li><a class="button secondary" href={{item.href}}>{{item.label}}</a></li>
  {{/each}}
</ul>

<h2>Question Verification</h2>
<ul>
  {{#each model.verification as |item|}}
    <li><a class="button secondary" href={{item.href}}>{{item.label}}</a></li>
  {{/each}}
</ul>

<h2>Question Reward</h2>
<ul>
  {{#each model.reward as |item|}}
    <li><a class="button secondary" href={{item.href}}>{{item.label}}</a></li>
  {{/each}}
</ul>

<h2>Notification</h2>
<ul>
  <li><a class="button secondary" href="notification">notification</a></li>
</ul>
