<div class="heat-map">
  <div class="operation-tips">
    {{svg-item 'tap-02' size="32px" viewBox="32"}}
  </div>
  <img src="{{node.mapImage.natural}}">
  {{#each spotList as |spot|}}
      <div class="heat-spot"
           style="{{spot.style}}">
        <span>{{spot.text}}</span>
        <input class="heat-spot"
               id={{unbound spot.origin.renderId}}
                 type={{unbound node.selectType}}
               onclick={{action 'handleSpotClick' spot}}
                 name={{unbound node.renderId}}
               checked={{spot.origin.selected}}
                 required={{required}}
               tabindex={{tabindex}}>

        {{ui-component/ui-label selected=spot.origin.selected
                                for=(unbound spot.origin.renderId)
                                particleSize="m"
                                icon=(if spot.origin.selected 'check-circle') size="32px" viewBox="32"}}


      </div>
  {{/each}}
</div>


{{#each others as |option|}}
    {{ui-question/choice node option handleEvents}}
{{/each}}