{{!--如果输入类型是input，则，使用其他选项备注组件--}}
{{#unless (eq option.inputType 'input')}}
  <div class={{concat 'ui-choice ' node.selectType}}>
    <input
      id={{option.uuid}}
        type={{node.selectType}}
      onclick={{action handleOptionClick}}
        name={{node.uuid}}
      autofocus={{autofocus}}
        placeholder={{option.placeholder}}
      checked={{option.selected}}
        disabled={{disabled}}
      required={{required}}
        tabindex={{tabindex}}
      value={{option.value}}
    >
    {{ui-component/ui-label selected=option.selected
                            for=option.uuid
                            text=option.text
                            icon=(if option.selected (concat option.icon '-active') option.icon)
    }}
  </div>
{{else}}
  {{ui-component/ui-text inputRule=option.inputRule
                         placeholder=option.placeholder
                         value=option.value
                         handleOptionInput=handleOptionInput
                         handleOptionInputForTextarea=handleOptionInputForTextarea
  }}
{{/unless}}


{{!--选择选项再弹出输入框--}}
{{#if (and (eq option.inputType "select-input") option.selected)}}
  {{ui-component/ui-text inputRule=option.inputRule
                         placeholder=option.placeholder
                         value=option.value
                         handleOptionInput=handleOptionInput
                         handleOptionInputForTextarea=handleOptionInputForTextarea
  }}
{{/if}}

{{errorMessage}}