{{!--如果输入类型是input，则，使用其他选项备注组件--}}
{{#unless (eq inputType 'input')}}
  <div class={{concat 'ui-choice ' selectType}} data-render-id={{renderId}}>
    <input
      id={{renderId}}
        type={{selectType}}
      onclick={{handleOptionClick}}
        name={{name}}
      autofocus={{autofocus}}
        placeholder={{placeholder}}
      checked={{selected}}
        disabled={{disabled}}
      required={{required}}
        tabindex={{tabindex}}
      value={{value}}
    >
    {{ui-component/ui-label selected=selected
                            for=renderId
                            text=text
                            icon=(if selected (concat icon '-active') icon)
    }}
  </div>
{{else}}
  {{ui-component/ui-text inputRule=inputRule
                         placeholder=placeholder
                         renderId=renderId
                         value=value
                         handleOptionInput=handleOptionInput
                         handleOptionInputForTextarea=handleOptionInputForTextarea
  }}
{{/unless}}

{{!--选择选项再弹出输入框--}}
{{#if (eq inputType "select-input")}}
  {{ui-component/ui-text display=(if selected "block" "none")
                         inputRule=inputRule
                         placeholder=placeholder
                         renderId=renderId
                         value=value
                         handleOptionInput=handleOptionInput
                         handleOptionInputForTextarea=handleOptionInputForTextarea
  }}

{{/if}}


{{errorMessage}}