<div>
  <input
    id={{option.uuid}}
      type={{type}}
    onchange={{action 'change'}}
      onclick={{action 'select'}}
    name={{nodeInfo.id}}
      autofocus={{autofocus}}
    placeholder={{option.placeholder}}
      checked={{option.selected}}
    disabled={{disabled}}
      required={{required}}
    tabindex={{tabindex}}
      value={{option.value}}
  >

  {{ui-question/ui-label option}}
</div>

{{#if (and (eq option.inputType 'select-input') option.selected)}}
  <input type="text" value={{option.value}} onchange={{action 'change'}}>
{{/if}}

{{#if option.selected}}
  <span>选择了</span>
{{/if}}

{{errorMessage}}