<div class='ui-icon' data-render-id={{renderId}}>
  <input
    name={{inputName}}
    id={{uuid}}
      type={{selectType}}
    onclick={{handleOptionClick}}
      checked={{selected}}
    disabled={{disabled}}
    required
  >

  <label for={{uuid}}>
    <div class="effect-container">
      <div class="svg-wrapper">
        {{svg}}
      </div>
      {{#if selected}}
        {{ui-addon/svg-particle values="0;36" dur="0.65s"}}
      {{/if}}
    </div>
    <div class="labels">
      <div class="svg-wrapper">
        {{ui-addon/svg-item icon=icon}}
      </div>
      <span>{{text}}</span>
    </div>
  </label>
</div>


