<div class='ui-icon' data-render-id={{option.renderId}}>
  <input
    name={{node.renderId}}
    id={{option.renderId}}
      type={{node.selectType}}
    onclick={{action handleOptionClick}}
      checked={{option.selected}}
    disabled={{disabled}}
    required
  >
  {{#ui-component/ui-label option for=option.renderId svg=svg svgIcon=svgIcon}}
    <div class="labels">
      {{ui-addon/svg-item icon=node.selectType}}
      <span>{{option.text}}</span>
    </div>
  {{/ui-component/ui-label}}
</div>
