<div class="matrix-wrapper">
  <div class="fix-header-position">
    <div class="fix-header">
      {{#each node.optionsX as |option|}}
        <div class="fix-header-column">
          <span>{{option.text}}</span>
        </div>
      {{/each}}
    </div>
  </div>
  <div class="matrix-content">
    <ul class="fix-column">
      {{#each node.optionsY as |option| }}
        <li style={{colHeight}}>
          <span>{{option.text}}</span>
        </li>
      {{/each}}
    </ul>
    <div class="flickity-column">
      {{#each node.matrix as |subMatrix|}}
        <div class="column">
          {{#each subMatrix as |option|}}
            <div class="column-item">
              <input
                name={{node.renderId}}
                  id={{option.renderId}}
                type="checkbox"
                onclick={{action 'handleOptionClick' option}}
                  checked={{option.selected}}
                disabled={{disabled}}
                  required
              >
              {{ui-component/ui-label selected=option.selected
                                      for=option.renderId
                                      icon=(if option.selected 'checkbox-active' 'checkbox')}}
            </div>
          {{/each}}
        </div>
      {{/each}}
    </div>
  </div>
</div>

{{#each node.otherOptions as |option|}}
  {{ui-component/ui-text node option handleEvents}}
{{/each}}
