<div class={{wrapperClassNames}}>
  <div class="matrix-thumbnail">
    <div class="matrix-thumbnail-wrapper">
      {{#each node.matrix as |indicators|}}
        <ul>
          {{#each indicators as |indicator|}}
            <li class={{if indicator.selected "active"}}><span></span></li>
          {{/each}}
        </ul>
      {{/each}}
    </div>
  </div>

  <div class="fix-header-position">
    <div class="fix-header swiper-container">
      <div class="swiper-wrapper">
        {{#each node.renderOptionsX as |option|}}
          <div class="fix-header-column swiper-slide">
            <span>{{option.text}}</span>
          </div>
        {{/each}}
      </div>
    </div>
  </div>

  <div class="matrix-content">
    <ul class="fix-column">
      {{#each node.renderOptionsY as |option| }}
        <li style={{colHeight}}>
          <p>{{option.text}}</p>
        </li>
      {{/each}}
    </ul>

    <div class="column-container swiper-container">
      <div class="swiper-wrapper">
        {{#each node.matrix as |subMatrix|}}
          <div class="column swiper-slide">
            {{#each subMatrix as |option|}}
              <div class="column-item">
                <input
                    name={{node.renderId}}
                    id={{option.renderId}}
                    type="checkbox"
                    onclick={{action "handleOptionClick" option}}
                    checked={{option.selected}}
                    disabled={{disabled}}
                    required>
                {{ui-component/ui-label
                  particleSize="m"
                  selected=option.selected
                  for=option.renderId
                  icon=(if option.selected "checkbox-active" 'checkbox')}}
              </div>
            {{/each}}
          </div>
        {{/each}}
      </div>

      <div class="swiper-pagination"></div>
      {{#if (and isDesktop (gt (arraylength node.renderOptionsX) 3))}}
        <a class="matrix-resize" onclick={{action "matrixResize"}}>{{svg-item resizeIcon}}</a>
        <div class="matrix-button-next">{{svg-item "arrows-stre-right"}}</div>
        <div class="matrix-button-prev">{{svg-item "arrows-stre-left"}}</div>
      {{/if}}
    </div>
  </div>
</div>

{{#each node.otherOptions as |option|}}
  {{ui-question/choice node option handleEvents}}
{{/each}}
