{{#if (or emoji svg svgIcon)}}

  <div class="select-container">

    {{#if emoji}}
      <div class="emoji-wrapper">
        <span class={{emojiClass}}>{{emoji}}</span>
      </div>
    {{else}}

      <div class="svg-wrapper">

        {{#if svgIcon}}
          {{component "ui-component/ui-icon" icon=svgIcon size=size viewBox=viewBox iconClass=iconClass}}
        {{else}}
          {{svg}}
        {{/if}}

      </div>
    {{/if}}

    <div class="svg-particle">
      {{ui-component/ui-icon icon="svg-particle" size="60px" viewBox="60"}}
    </div>

  </div>

{{/if}}

{{#if leftIcon}}
  {{component "ui-component/ui-icon" icon=leftIcon size=size viewBox=viewBox iconClass=iconClass}}
{{/if}}

{{yield}}

{{#if text}}
  <span>{{text}}</span>
{{/if}}


{{#if rightIcon}}
  {{component "ui-component/ui-icon" icon=rightIcon size=size viewBox=viewBox iconClass=iconClass}}
{{/if}}

