<div class="icon-preview-container">
  <h1 class="ip-title">SVG icon General</h1>
  <div class="ip-icon">
    {{#each model.general as |item|}}
      <div class="ip-wrapper">
        <div class="ip-container" onmouseenter={{action "showHref"}} onmouseleave={{action "hideHref"}}>
          <svg x="0" y="0" width="16px" height="16px" viewBox="0 0 16 16">
            <use xlink:href="{{concat "#" item.icon}}"></use>
          </svg>
        </div>
      </div>
    {{/each}}
  </div>

  <h1 class="ip-title">SVG icon Theme Basic</h1>
  <div class="ip-icon">
    {{#each model.basic as |item|}}
      <div class="ip-wrapper">
        <div class="ip-container" onmouseenter={{action "showHref"}} onmouseleave={{action "hideHref"}}>
          <svg x="0" y="0" width="16px" height="16px" viewBox="0 0 16 16">
            <use xlink:href="{{concat "#" item.icon}}"></use>
          </svg>
        </div>
      </div>
    {{/each}}
  </div>

  <h1 class="ip-title">SVG icon Rating</h1>
  <div class="ip-icon">
    {{#each model.rating as |item|}}
      <div class="ip-wrapper">
        <div class="ip-container" onmouseenter={{action "showHref"}} onmouseleave={{action "hideHref"}}>
          <svg x="0" y="0" width="64px" height="64px" viewBox="0 0 64 64">
            <use xlink:href="{{concat "#" item.icon}}"></use>
          </svg>
        </div>
      </div>
    {{/each}}
  </div>

  <h1 class="ip-title">SVG icon Large</h1>
  <div class="ip-icon">
    {{#each model.large as |item|}}
      <div class="ip-wrapper">
        <div class="ip-container" onmouseenter={{action "showHref"}} onmouseleave={{action "hideHref"}}>
          <svg x="0" y="0" width="40px" height="40px" viewBox="0 0 40 40">
            <use xlink:href="{{concat "#" item.icon}}"></use>
          </svg>
        </div>
      </div>
    {{/each}}
  </div>

  <h1 class="ip-title">SVG icon Gender</h1>
  <div class="ip-icon">
    {{#each model.gender as |item|}}
      <div class="ip-wrapper">
        <div class="ip-container" onmouseenter={{action "showHref"}} onmouseleave={{action "hideHref"}}>
          <svg x="0" y="0" width="64px" height="64px" viewBox="29 9 22 62">
            <use xlink:href="{{concat "#" item.icon}}"></use>
          </svg>
        </div>
      </div>
    {{/each}}
  </div>

  <h1 class="ip-title">SVG Particle Animation</h1>
  <div class="ip-icon">
    {{svg-particle}}
  </div>
</div>

<div class="ip-attr">
  <span class="ip-hover">{{hrefText}}</span>
  <span>Click on icon copy the <strong>SVG ID</strong> to the clipboard</span>
</div>
