{{#if isTextMode}}
  {{ui-component/ui-text inputRule=(unbound option.inputRule)
                         placeholder=(unbound option.placeholder)
                         renderId=(unbound option.renderId)
                         value=option.value
                         handleOptionInput=(action "handleOptionInput")
                         handleOptionInputForTextarea=(action "handleOptionInputForTextarea")}}
{{else}}
  <div class="ui-rating" data-render-id={{option.renderId}}>
    <h4 class="cell-labels">
      {{text}}
      {{description}}
    </h4>

    <div class={{ratingClassName}}>
      <ul class="rating-labels">
        {{#each option.marks as |mark|}}
          <li>{{mark}}</li>
        {{/each}}
      </ul>

      <ul class="rating-shape">
        {{#each graphs as |graph|}}
          <li>
            <input type="checkbox"
                   id={{graph.renderId}}
                   value={{graph.value}}
                   checked={{graph.checked}}
                   onchange={{action "handleOptionClick"}}>
            {{ui-component/ui-label
              for=graph.renderId
              emoji=graph.emoji
              selected=graph.checked
              text=graph.text
              emojiClass="rating-emoji"
              icon=graph.icon
              viewBox="64"}}
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
{{/if}}
