{{#if option.inputType}}
  {{ui-question/choice node option handleEvents}}
{{else}}
  <div class="ui-rating" data-render-id={{option.renderId}} data-state="{{node.markImgName}}">
    <h4 class="cell-labels">
      {{text}}
    </h4>

    <div class={{ratingClassName}}>
      {{#if option.marks}}
        <ul class="rating-labels">
          {{#each option.marks as |mark|}}
            <li>{{mark}}</li>
          {{/each}}
        </ul>
      {{/if}}

      <ul class="rating-shape">
        {{#each graphs as |graph|}}
          <li>
            <input type="checkbox"
                   id={{graph.renderId}}
                   value={{graph.value}}
                   checked={{graph.checked}}
                   onchange={{action "handleOptionClick"}}>
            {{ui-component/ui-label
              for=graph.renderId
              emoji=graph.emoji
              particleSize="m"
              selected=graph.checked
              text=graph.text
              emojiClass="rating-emoji"
              icon=graph.icon
              viewBox="64"}}
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
{{/if}}
