{{#unless (eq (unbound option.inputType) 'input')}}
  <div class={{concat 'ui-choice ' (unbound node.selectType)}} data-render-id={{unbound option.renderId}}>
    <input
      id={{unbound option.renderId}}
        type={{unbound node.selectType}}
      onclick={{action "handleOptionClick"}}
        name={{unbound node.renderId}}
      autofocus={{autofocus}}
        placeholder={{unbound option.placeholder}}
      checked={{option.selected}}
        required={{required}}
      tabindex={{tabindex}}
        value={{option.value}}>
    {{ui-component/ui-label selected=option.selected
                            particleSize="m"
                            for=(unbound option.renderId)
                            text=(if node.dynamicOption option.text (unbound option.text))
                            icon=(if option.selected (concat (unbound option.icon) '-active') (unbound option.icon))}}
  </div>
{{else}}
  {{ui-component/ui-text inputRule=(unbound option.inputRule)
                         min=option.validateMin
                         max=option.validateMax
                         timeGrade=(unbound option.timeGrade)
                         grade=(unbound option.grade)
                         placeholder=(unbound option.placeholder)
                         renderId=(unbound option.renderId)
                         value=option.value
                         errorMessage=option.errorMessage
                         handleOnblur=(action "handleOptionInput")
                         handleOptionInput=(action "handleOptionInput")
                         handleOptionInputForTextarea=(action "handleOptionInputForTextarea")}}
{{/unless}}

{{!--选择选项再弹出输入框--}}
{{#if (eq (unbound option.inputType)"select-input")}}
  {{ui-component/ui-text display=(if option.selected "block" "none")
                         min=option.validateMin
                         max=option.validateMax
                         timeGrade=(unbound option.timeGrade)
                         inputRule=(unbound option.inputRule)
                         grade=(unbound option.grade)
                         placeholder=(unbound option.placeholder)
                         renderId=(unbound option.renderId)
                         errorMessage=option.errorMessage
                         value=option.value
                         handleOnblur=(action "handleOptionInput")
                         handleOptionInput=(action "handleOptionInput")
                         handleOptionInputForTextarea=(action "handleOptionInputForTextarea")}}

{{/if}}