<div class={{locationClassName}}>
  <input type="checkbox"
         id={{node.renderId}}
         onclick={{action 'handleOptionClick'}}>
  <label for={{node.renderId}}>
    <div class="effect-container">
      {{svg-item svgState size="40px" viewBox="40"}}
      {{ui-addon/active-line-animation}}
    </div>
  </label>
</div>

<h4>{{tips}}</h4>

{{#if (eq svgState 'location-successful')}}
  <p>{{node.value}}</p>
{{/if}}


{{#if (eq svgState 'location-failed')}}
  <p>请使用GPS定位</p>
  <a class="button secondary" onclick={{action 'handleOptionClick'}}>请重试</a>
{{/if}}