<div class={{concat 'ui-' node.quesType}} >
  <div class="location">
    <input
      id={{node.uuid}}
        type="checkbox"
      onclick={{action 'handleOptionClick'}}
    >
    <label for={{node.uuid}}>
      {{svg}}
    </label>
  </div>
  <span>{{tips}}</span>
  {{#if (eq svgState 'success')}}
    <p>{{node.value}}</p>
  {{/if}}
</div>