<div class={{concat 'ui-' node.quesType}} onclick={{action 'handleOptionClick'}}>
  <div class="location">
    {{svg}}
  </div>
  <span>{{tips}}</span>
  {{#if (eq svgState 'success')}}
    <p>{{node.value}}</p>
  {{/if}}
</div>