{{input
  type=type
  autofocus=autofocus
  checked=checked
  disabled=disabled
  name=name
  required=required
  tabindex=tabindex
}}

<label onClick={{action 'handClick'}}>
  {{{svg}}}
  {{label}}
  {{picture}}
</label>
{{errorMessage}}