{{input
  type="checkbox"
  autofocus=autofocus
  checked=checked
  disabled=disabled
  name=name
  required=required
  tabindex=tabindex}}

<label>
  {{svg}}
  {{label}}
  {{picture}}
</label>
{{errorMessage}}