<div class="item" onclick={{action 'handClick'}}>
  <span>{{node_Type}}</span>
  {{input
    type=type
    autofocus=autofocus
    checked=checked
    disabled=disabled
    name=name
    required=required
    tabindex=tabindex
  }}

  <label>
    {{#if svg}}
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16">
        <use xlink:href={{svg}} fill={{color}}></use>
      </svg>
    {{/if}}
    {{label}}
    {{picture}}
  </label>
  {{errorMessage}}
</div>
