<div class='slider' data-render-id={{option.renderId}}>
  <input
    data-color="color8"
    type="range"
    id={{option.uuid}}
    value={{option.value}}
    onchange={{action 'handleOptionInput'}}
  >
  <span data-color="color6">{{option.value}}</span>

  {{ui-control/label option}}
</div>
