<input type="range"
       id={{option.uuid}}
       value={{option.value}}
       onchange={{action 'change'}}
>
<span>{{option.value}}</span>

{{ui-question/ui-control/label option}}

{{errorMessage}}