<div class='ui-range' data-render-id={{option.renderId}}>
  {{range-slider start=option.value
                 connect="lower"
                 min= option.minValue
                 max=option.maxValue
                 on-change="handleOptionInput"
  }}
  <span>{{option.value}}</span>
  <div>
    <span>最低{{option.minValue}}分</span>
    <span>最高{{option.maxValue}}分</span>
  </div>
</div>



