<div class='ui-range' data-render-id={{option.renderId}}>
  <input
    type="range"
    id={{option.uuid}}
    value={{option.value}}
    onchange={{action 'handleOptionInput'}}
  >
  <span>{{option.value}}</span>

  {{ui-question/-node/label option}}
</div>
