{{!--如果输入类型是input，则，使用其他选项备注组件--}}
{{#unless (eq option.inputType 'input')}}
  <div class={{concat 'ui-' node.selectType}}>
    <input
      id={{option.uuid}}
        type={{node.selectType}}
      onclick={{action 'handleOptionClick'}}
        name={{node.uuid}}
      autofocus={{autofocus}}
        placeholder={{option.placeholder}}
      checked={{option.selected}}
        disabled={{disabled}}
      required={{required}}
        tabindex={{tabindex}}
      value={{option.value}}
    >
    {{ui-addon/label option uuid=option.uuid text=option.text}}
  </div>
{{else}}
  {{ui-component/ui-text node option handleEvents}}
{{/unless}}


{{!--选择选项再弹出输入框--}}
{{#if (and (eq option.inputType "select-input") option.selected)}}
  {{ui-component/ui-text node option handleEvents}}
{{/if}}

{{errorMessage}}