<section>
  <div class="wrapper">
    {{#if question.lazyLoad}}
      {{#each question.nodes as |node|}}
        {{#ui-question/lazy-loader class=(concat 'data-' node.quesType) renderId=node.renderId
                                   isSingle=true as |viewable|}}
          {{#if viewable}}
            {{ui-question/-node node question.handleEvents preview=question.preview}}
          {{else}}
            <div class="lazy-loading">loading...</div>
          {{/if}}
        {{/ui-question/lazy-loader}}
      {{/each}}
    {{else}}
      {{#each question.nodes as |node|}}
        <div data-render-id={{node.renderId}} class={{concat 'lazy-loader data-' node.quesType}}>
          {{ui-question/-node node question.handleEvents preview=question.preview}}
        </div>

      {{/each}}
    {{/if}}

  </div>
</section>

{{#if (or question.prevButton question.nextButton)}}
  {{ui-question/-node/button-cell
    prevButton=question.prevButton
    nextButton=question.nextButton
    nextLoading=question.nextLoading
    handlePrevClick=question.handleEvents.handlePrevClick
    handleNextClick=question.handleEvents.handleNextClick
    rightIcon="arrows-tail-right"
  }}
{{/if}}


{{#unless question.hideFooter}}
  {{ui-addon/footer useCustomLogo=question.useCustomLogo customLogo=question.customLogo customText=question.customText}}
{{/unless}}