<div class="wrapper">

  <div class="row">
    {{ui-question/header headerData}}
    <div class={{concat "control " nodeInfo.type}}>
      {{#each question.options as |option|}}
        {{#if (eq option.inputType '')}}
          {{component componentName option nodeInfo handleClick=question.handleOptionClick}}
        {{else}}
          {{component 'ui-control/option-cell' option nodeInfo handleClick=question.handleOptionClick}}
        {{/if}}
      {{/each}}
    </div>
  </div>
</div>

{{ui-addon/button buttonData}}

