<table data-state="{{if (lt clientWidth 640) 'mobile'}}">
  <thead>
  <tr>
    <th></th>
    {{#each node.flatten as |option|}}
      <th>
        <strong>{{{insert-img option.text}}}</strong>
      </th>
    {{/each}}
  </tr>
  </thead>

  <tbody>
  {{#each node.flatten.firstObject.list as |rowHead idx|}}
    <tr>
      <td class="first-column-item">
        {{{insert-img rowHead.text}}}
      </td>
      {{#each node.flatten as |outerItem|}}
        {{#with (object-at idx outerItem.list) as |option|}}
          <td>
            <input required type="checkbox"
                   disabled={{disabled}}
                   name={{node.renderId}}
                   id={{option.renderId}}
                   checked={{option.selected}}
                   onclick={{action "handleOptionClick" option}}>
            {{ui-component/ui-label
              for=option.renderId
              selected=option.selected
              particleSize="m"
              checkboxIcon=(if option.selected (concat node.selectType '-active') node.selectType)}}
          </td>
        {{/with}}
      {{/each}}
    </tr>
  {{/each}}
  </tbody>
</table>

{{#each node.otherOptions as |option|}}
  {{ui-question/choice node option handleEvents}}
{{/each}}

