<div class="ui-dropdown ui-text dropdown">
  {{#each node.options as |option|}}
    <span>{{option.text}}</span>
    {{#ui-component/mobi-select handleSelect=handleEvents.handleQuestionInput node=node list=option.list
                                option=option
                                multiple=option.multiple}}
      {{#each option.list as |item|}}
        <option selected={{item.selected}}>{{item.text}}</option>
      {{/each}}
    {{/ui-component/mobi-select}}
    {{#each option.list as |subOption|}}
      {{#if (and subOption.selected (gt subOption.list.length 0))}}
        <div class="second" style="margin: 12px 24px">
          <span>{{subOption.text}}</span>
          {{#ui-component/mobi-select handleSelect=handleEvents.handleQuestionInput node=node list=subOption.list
                                      option=subOption
                                      multiple=option.multiple}}
            {{#each subOption.list as |subItem|}}
              <option selected={{subItem.selected}}>{{subItem.text}}</option>
            {{/each}}
          {{/ui-component/mobi-select}}
        </div>
      {{/if}}
    {{/each}}
  {{/each}}
</div>