<div class="ui-dropdown ui-text dropdown">
  {{!--顶层级联菜单--}}
  {{#ui-component/mobi-select handleSelect=handleEvents.handleOptionClick node=node list=node.cascade.list
                              group=node.cascade
                              multiple=node.cascade.multiple}}
    {{#each node.cascade.list as |second|}}
      <option selected={{item.selected}}>{{second.text}}</option>
    {{/each}}
  {{/ui-component/mobi-select}}
  {{!--二层级联菜单--}}
  {{#each node.cascade.list as |second|}}
    {{#if (and second.selected (gt second.list.length 0))}}
      <div class="second" style="margin: 12px 0 12px 10px">
        <span>{{second.text}}</span>
        {{#ui-component/mobi-select handleSelect=handleEvents.handleOptionClick node=node list=second.list
                                    group=second
                                    multiple=second.multiple}}
          {{#each second.list as |third|}}
            <option selected={{third.selected}}>{{third.text}}</option>
          {{/each}}
        {{/ui-component/mobi-select}}
        {{!--三层级联菜单--}}
        {{#each second.list as |third|}}
          {{#if (and third.selected (gt third.list.length 0))}}
            <div class="third" style="margin: 12px 0 12px 10px">
              <span>{{third.text}}</span>
              {{#ui-component/mobi-select handleSelect=handleEvents.handleOptionClick node=node list=third.list
                                          group=third
                                          multiple=third.multiple}}
                {{#each third.list as |bottom|}}
                  <option selected={{bottom.selected}}>{{bottom.text}}</option>
                {{/each}}
              {{/ui-component/mobi-select}}
            </div>
          {{/if}}
        {{/each}}
      </div>
    {{/if}}
  {{/each}}
</div>