<div class="ui-dropdown ui-text dropdown">
  {{#ui-component/mobi-select handleSelect=handleEvents.handleQuestionInput node=node}}
    {{#each node.options as |q|}}
      <option selected={{q.selected}}>{{q.text}}</option>
    {{/each}}
  {{/ui-component/mobi-select}}


  {{#each node.options as |secondOption|}}

    {{#if secondOption.selected}}

      <div class="second" style="margin: 12px 24px">

        {{#ui-component/mobi-select handleSelect=handleEvents.handleQuestionInput node=node}}
          {{#each secondOption.list as |q|}}
            <option selected={{q.selected}}>{{q.text}}</option>
          {{/each}}
        {{/ui-component/mobi-select}}

        {{#each secondOption.list as |thiredOption|}}

          {{#if thiredOption.selected}}

            <div class="thired" style="margin: 12px 48px">
              {{#ui-component/mobi-select handleSelect=handleEvents.handleQuestionInput node=node}}
                {{#each thiredOption.list as |q|}}
                  <option selected={{q.selected}}>{{q.text}}</option>
                {{/each}}
              {{/ui-component/mobi-select}}
            </div>

          {{/if}}

        {{/each}}
      </div>

    {{/if}}
  {{/each}}
</div>