<section>
  <div class="warapper">
    <div class="row reward-container">
      {{#unless (eq node.rewardType 'wechat')}}
        <figure class="attachment header">
          {{#each node.images as |image|}}
            {{ui-addon/progressive-image
              ratio=image.ratio
              thumbnail=image.thumbnail
              image=image.natural}}
          {{/each}}
        </figure>
      {{/unless}}

      <header class="reward-header">
        {{#if (eq node.rewardType 'wechat')}}
            <div class="wechat-profile">
              <img src={{node.wechatImage}}>
              <span>{{node.wechatID}}</span>
            </div>
        {{/if}}

        {{#if node.rewardName}}
          <h2>{{node.rewardName}}</h2>
        {{/if}}

        <div class="reward-contents">
          <h2>{{node.title}}</h2>
          <span class="reward-description">{{node.description}}</span>
          <span class="current-time">{{node.rewardTime}}</span>
        </div>
      </header>

      <div class="control reward">

        {{#if (eq node.rewardType 'wechat')}}
          <div class="currency">
            <input type="checkbox" id={{node.uuid}} onclick={{action 'handleClick'}}>
            {{ui-component/ui-label svgIcon=node.icon for=node.uuid size="40px" viewBox="40"}}
            {{#if currency}}
              <h3>{{node.rewardVaule}}</h3>
            {{/if}}
          </div>
        {{/if}}

        {{#unless (eq node.quesType 'random')}}
          {{#if node.rewardToQrcode}}
            <div class="ui-qrcode">
              <div class="qrcode-item">
                <img src={{node.qrImage}}>
              </div>
              <p>Capture the screen and save it, you can't share it publicly. <span>{{node.qrCode}}</span></p>
            </div>
          {{/if}}

          {{#if node.rewardToMessage}}
            <div class="ui-verification">
              <div class="get-verification">
                <div class="ui-text">
                  {{ui-component/ui-input type='url' value='' placeholder='Please enter a password' icon='int'}}
                </div>
                {{ui-component/ui-button text="Get captcha code" className="contrast"}}
              </div>
            </div>
          {{/if}}
        {{/unless}}

      </div>

      <div class="reward-additional">
        {{ui-addon/disclaimer}}
      </div>

    </div>
  </div>
</section>
{{#if node.isReward}}
  {{ui-question/-node/button-cell
    class="button-cell-reward"
    nextButton=node.buttonText
    handleNextClick=(action 'handleNextClick')
    leftIcon="gift"
  }}
{{/if}}

