<section>
  <div class="warapper reward-container">
    <div class="row">

      {{#if (eq node.rewardType 'weixin')}}
        <div class="wechat-profile">
          <img src={{node.weixinImage}}>
          <span>{{node.weixinID}}</span>
        </div>
      {{else}}
        <figure class="attachment header">
          {{#each node.images as |image|}}
            {{ui-addon/progressive-image
              ratio=image.ratio
              thumbnail=image.thumbnail
              image=image.natural}}
          {{/each}}
        </figure>
      {{/if}}

      <div class="reward">
        {{#if node.rewardName}}
          <h2>{{node.rewardName}}</h2>
        {{/if}}
        <div class="reward-contents">
          <h2>{{node.title}}</h2>
          <span class="reward-description">{{node.description}}</span>
          <span class="current-time">{{node.rewardTime}}</span>
        </div>
        {{#if (eq node.rewardType 'weixin')}}
          <div class="currency">
            <input type="checkbox" id={{node.uuid}} onclick={{action 'handleClick'}}>
            {{ui-addon/label svgIcon=node.icon for=node.uuid size="40px" viewBox="40"}}
            {{#if currency}}
              <h3>{{node.rewardVaule}}</h3>
            {{/if}}
          </div>
        {{/if}}
        {{#unless (eq node.quesType 'lottery')}}
          {{#if node.RewardToQrcode}}
            <div class="ui-qrcode">
              <div class="qrcode-item">
                <img src={{node.qrImage}}>
              </div>
              <p>Capture the screen and save it, you can't share it publicly. <span>{{node.qrCode}}</span></p>
            </div>
          {{/if}}

          {{#if node.RewardToMessage}}
            <div class="ui-message">
              <div class="ui-text">
                {{ui-question/-node/input-cell type='url' value='' placeholder='Please enter a password' svgName='int'}}
              </div>
              {{ui-addon/label tagName='button' text="Get verification code" class="button contrast"}}
            </div>
          {{/if}}
        {{/unless}}
      </div>

      <div class="reward-additional">
        {{ui-addon/disclaimer}}
      </div>

    </div>
  </div>
  {{#if node.isReward}}
    <div class="submit-actions">
      {{ui-addon/label tagName='button' text=node.buttonText class="button contrast" leftIcon='gift'}}
    </div>
  {{/if}}
</section>