<section>
  <div class="warapper">
    <div class="row">

      {{#if (eq node.rewardType 'weixin')}}
        <div class="wechat-profile">
          <img src={{node.weixinImage}}>
        </div>
      {{else}}
        <figure class="attachment">
          {{#each node.images as |image|}}
            {{ui-addon/progressive-image
              ratio=image.ratio
              thumbnail=image.thumbnail
              image=image.natural}}
          {{/each}}
        </figure>
      {{/if}}

      <header class="reward-header">
        <h2>{{node.rewardName}}</h2>
        <h4>{{node.title}}</h4>
        <span class="reward-description">{{node.description}}</span>
        <span>{{node.rewardTime}}</span>
        {{#if (eq node.rewardType 'weixin')}}
          <div>{{node.rewardVaule}}元</div>
        {{/if}}
      </header>

      <div class="control reward">
        {{#unless (eq node.quesType 'lottery')}}
          {{#if node.RewardToQrcode}}
            <div class="ui-qrcode">
              <p>Capture the screen and save it, you can't share it publicly.</p>
              <div class="qrcode-item">
                <img src={{node.qrImage}}>
              </div>
              <p>{{node.qrCode}}</p>
            </div>
          {{/if}}

          {{#if node.RewardToMessage}}
            <div class="ui-message">
              <div class="ui-text">
                {{ui-question/-node/input-cell type='url' value='' placeholder='Please enter a password' svgName='int'}}
                {{ui-addon/button className='message' text='Get Password'}}
              </div>
            </div>
          {{/if}}
        {{/unless}}

        {{ui-addon/disclaimer}}
      </div>

    </div>
  </div>

  {{#if node.isReward}}
    {{ui-addon/button className='submit-actions' text=node.buttonText}}
  {{/if}}

</section>

{{ui-question/-node/footer}}