<section>
  <div class="warapper reward-container">
    <div class="row">

      {{#if (eq node.rewardType 'weixin')}}
        <div class="wechat-profile">
          <img src={{node.weixinImage}}>
          <span>{{node.weixinID}}</span>
        </div>
      {{else}}
        <figure class="attachment">
          {{#each node.images as |image|}}
            {{ui-addon/progressive-image
              ratio=image.ratio
              thumbnail=image.thumbnail
              image=image.natural}}
          {{/each}}
        </figure>
      {{/if}}

      <header class="reward-header">
        <h2>{{node.rewardName}}</h2>
        <div class="reward-contents">
          <h2>{{node.title}}</h2>
          <span class="reward-description">{{node.description}}</span>
          <span class="current-time">{{node.rewardTime}}</span>
        </div>
        {{#if (eq node.rewardType 'weixin')}}


          <div class="currency">
            <input type="checkbox" id={{node.uuid}}>
            {{ui-question/-node/label svg=svg text=node.rewardVaule leftIcon="ui-addon/svg-item" icon=node.icon for=node.uuid}}
          </div>
        {{/if}}
      </header>

      <div class="control reward">
        {{#unless (eq node.quesType 'lottery')}}
          {{#if node.RewardToQrcode}}
            <div class="ui-qrcode">
              <p>Capture the screen and save it, you can't share it publicly.</p>
              <div class="qrcode-item">
                <img src={{node.qrImage}}>
              </div>
              <p>{{node.qrCode}}</p>
            </div>
          {{/if}}

          {{#if node.RewardToMessage}}
            <div class="ui-message">
              <div class="ui-text">
                {{ui-question/-node/input-cell type='url' value='' placeholder='Please enter a password' svgName='int'}}

                {{ui-question/-node/label tagName='button' text="获取验证码"}}

              </div>
            </div>
          {{/if}}
        {{/unless}}
        {{ui-addon/disclaimer}}
      </div>

    </div>
  </div>

  {{#if node.isReward}}
    {{ui-question/-node/label tagName='button' text=node.buttonText}}
  {{/if}}

</section>