<section data-render-id={{node.renderId}}>
  <div class="warapper">
    <div class="row reward-container">
      <header class="reward-header">
        {{#if (eq node.rewardType 'wechat')}}
          <div class="wechat-profile">
            <img src={{node.wechatImage}}>
            <span>{{node.wechatID}}</span>
          </div>
        {{/if}}

        {{#if node.rewardName}}
          <h2>{{node.rewardName}}</h2>
        {{/if}}

        <div class="reward-contents">
          <h2>{{node.title}}</h2>
          <span class="reward-description">{{node.description}}</span>
          <span class="current-time">{{node.rewardTime}}</span>
        </div>
      </header>

      <div class="control reward">

        {{#if (eq node.rewardType 'wechat')}}
          <div class="currency">
            <input type="checkbox" id={{node.renderId}} onclick={{action 'handleClick'}}>
            {{ui-component/ui-label icon=node.icon
                                    for=node.renderId
                                    size="40px"
                                    viewBox="40"}}
            {{#if currency}}
              <h3>{{node.rewardValue}}</h3>
            {{/if}}
          </div>
        {{/if}}

        {{#if node.images}}
          <figure class="attachment">
            {{#each node.images as |image|}}
              {{ui-addon/progressive-image
                ratio=image.ratio
                thumbnail=image.thumbnail
                image=image.natural}}
            {{/each}}
          </figure>
        {{/if}}

        {{#if node.qrCode}}
          <div class="ui-qrcode">
            <div class="qrcode-item">
              {{ui-addon/qr-code data=node.qrCode}}
              <span>{{node.qrCode}}</span>
            </div>
            <div class="scan-icon">{{svg-item "scan"}}</div>
            <span>请截屏进行保存</span>
          </div>
        {{/if}}

        {{#if node.rewardToMessage}}
          <div class="ui-verification">
            <span>通过手机号获取信息</span>
            <div class="get-verification">
              <div class="ui-text">
                {{ui-component/ui-input type='url'
                                        value=''
                                        placeholder='请输入手机号'
                                        handleOptionInput=(action "handleQuestionInput")}}
              </div>
              {{ui-component/ui-button text=(if getInfoButton "获取信息" countDown)
                                       className="contrast"
                                       leftIcon=(if getInfoButton '' 'refresh')
                                       handleClick=(if getInfoButton (action "handleOptionClick") '')
              }}
            </div>
          </div>
        {{/if}}
      </div>

      <div class="reward-additional">
        {{ui-addon/disclaimer description=true}}
      </div>

    </div>
  </div>
</section>